node_modules
.pnp
.pnp.js
.turbo
.next
out
build
dist
coverage
playwright-report
test-results

.DS_Store
Thumbs.db
*.pem

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env*

.vercel

supabase/.branches/
supabase/.temp/

*.tsbuildinfo
next-env.d.ts
.vercel
